@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
	--metricGreen: 0, 77, 67;
	--metricPurple: 176, 165, 233;
	--metricAqua: 146, 203, 222;
	--metricPink: 242, 166, 166;
	--metricYellow: 241, 194, 116;
	--metricOrange: 240, 169, 117;
	--metricWhite: 242, 242, 242;
	--metricGray: 232, 232, 232;
	--metricGray2: 219, 224, 226;
	--metricBlack: 23, 23, 23;
	--metricGray3: 127, 131, 132;
	--metricGray4: 219, 224, 226;
	--metricWhite2: 242, 242, 242;
}
.dark {
	--metricGreen: 230, 230, 230;
	--metricPurple: 113, 96, 197;
	--metricAqua: 122, 180, 200;
	--metricPink: 242, 166, 166;
	--metricYellow: 221, 171, 88;
	--metricOrange: 217, 150, 102;
	--metricWhite: 27, 27, 27;
	--metricWhite2: 46, 46, 46;
	--metricGray: 46, 46, 46;
	--metricGray2: 219, 224, 226;
	--metricBlack: 242, 242, 242;
	--metricGray3: 206, 206, 206;
	--metricGray4: 32, 32, 32;
}
